In [2]:
!pip3 install missingno
!pip install pandas==1.3.5

Requirement already satisfied: missingno in /opt/conda/lib/python3.7/site-packages (0.5.1)
Requirement already satisfied: seaborn in /opt/conda/lib/python3.7/site-packages (from missingno) (0.10.0)
Requirement already satisfied: numpy in /opt/conda/lib/python3.7/site-packages (from missingno) (1.21.6)
Requirement already satisfied: scipy in /opt/conda/lib/python3.7/site-packages (from missingno) (1.4.1)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.7/site-packages (from missingno) (3.1.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib->missingno) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.7/site-packages (from matplotlib->missingno) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib->missingno) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib->missingno) (2.4.6)
Requirement already satisfied: pandas>=0.22.0 in /opt/conda/lib/python3.7/site-packages (from seaborn->missingno) (1.3.5)
Requirement already satisfied: six in /opt/conda/lib/python3.7/site-packages (from cycler>=0.10->matplotlib->missingno) (1.14.0)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib->missingno) (59.3.0)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.22.0->seaborn->missingno) (2019.3)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Requirement already satisfied: pandas==1.3.5 in /opt/conda/lib/python3.7/site-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.7/site-packages (from pandas==1.3.5) (2019.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.7/site-packages (from pandas==1.3.5) (2.8.1)
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/lib/python3.7/site-packages (from pandas==1.3.5) (1.21.6)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas==1.3.5) (1.14.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

# Load data from s3

In [1]:
import io
import boto3
import configparser

import numpy as np
import pandas as pd

pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 200)

def read_csv_from_s3(section_name, bucket_name, file_path, ):
    
    parser = configparser.ConfigParser()
    parser.read('./config.ini')
    access_key = parser.get(section_name, "access_key")
    secret_key = parser.get(section_name, "secret_key")
    
    s3 = boto3.client('s3',
                      aws_access_key_id=access_key, 
                      aws_secret_access_key=secret_key)
    print("Get object")
    obj = s3.get_object(Bucket=bucket_name, Key=file_path)

    print("Read csv")
    df = pd.read_csv( io.BytesIO( obj["Body"].read() ) )
    
    print("Completed")
    print("Data size:", df.shape)

    return df

In [2]:
def write_csv_to_s3(section_name, bucket_name, file_path, data):
    
    parser = configparser.ConfigParser()
    parser.read('./config.ini')
    access_key = parser.get(section_name, "access_key")
    secret_key = parser.get(section_name, "secret_key")
    
    s3 = boto3.client('s3',
                      aws_access_key_id=access_key, 
                      aws_secret_access_key=secret_key)

    print("Put object")
    print("Data Shape: ", data.shape)
    s3.put_object(
        Body=data.to_csv(index=False).encode(),
        Bucket=bucket_name, Key=file_path)

    print("Completed")

In [3]:
section_name = "aws_boto_credentials"
bucket_name = "ev-depreciation-model"
file_path = "modeling/220701_used_car_v2.csv"

df = read_csv_from_s3(section_name, bucket_name, file_path)

Get object
Read csv
Completed
Data size: (374526, 20)

In [4]:
df = df.dropna(subset=["manufacturer", "model"])
df.shape

(356515, 20)

# Price of New Car

## EV manufacturer & model

In [5]:
ev = df.fuel.isin(["electric", "hybrid"])
df_ev = df[ev][["manufacturer", "model", "fuel", "drive", "type"]].drop_duplicates(keep="last").sort_values(["manufacturer", "model"])

file_path = "analysis/220705_ev_model_unique.csv"
write_csv_to_s3(section_name, bucket_name, file_path, df_ev)

Put object
Data Shape:  (1187, 5)
Completed

In [6]:
mf5 = list(df[ev].manufacturer.value_counts().head(5).index)
ev_mf5 = df.manufacturer.isin(mf5)
df_ev_mf5 = df[ev & ev_mf5]
df_ev_mf5.sample(10)

,price,year,manufacturer,model,odometer,condition,title_status,cylinders,fuel,transmission,drive,size,type,paint_color,region,state,VIN,checked_VIN,posting_year,posting_day
310446,38990,2020.0,tesla,model 3 standard range,9665.0,good,clean,NaN,electric,other,NaN,NaN,sedan,white,knoxville,tn,5YJ3E1EA7LF504671,1,2021.0,124.0
26241,644,2018.0,tesla,model s 75d - autopilot,19341.0,NaN,clean,NaN,electric,automatic,4wd,NaN,hatchback,NaN,inland empire,ca,5YJSA1E22JF246704,1,2021.0,123.0
5331,10495,2016.0,ford,c-max hybrid,71835.0,NaN,clean,4 cylinders,hybrid,automatic,fwd,NaN,wagon,custom,anchorage / mat-su,ak,1FADP5AU2GL100322,1,2021.0,118.0
345633,5997,2007.0,toyota,prius,171720.0,excellent,clean,4 cylinders,hybrid,automatic,fwd,NaN,hatchback,NaN,norfolk / hampton roads,va,JTDKB20U773269350,1,2021.0,118.0
339421,31200,2018.0,tesla,model 3,26105.0,NaN,NaN,NaN,electric,automatic,rwd,full-size,sedan,NaN,salt lake city,ut,5YJ3E1EB7JF113221,1,2021.0,105.0
348909,10500,2013.0,toyota,prius,69989.0,NaN,clean,4 cylinders,hybrid,automatic,rwd,NaN,NaN,silver,richmond,va,JTDKN3DU8D5608155,1,2021.0,95.0
22175,15998,2017.0,ford,c-max energi,28200.0,excellent,clean,NaN,hybrid,automatic,NaN,NaN,NaN,NaN,chico,ca,1FADP5EU5HL118230,1,2021.0,96.0
331522,20995,2018.0,ford,c-max hybrid,20919.0,NaN,clean,NaN,hybrid,automatic,fwd,NaN,hatchback,NaN,laredo,tx,1FADP5AU4JL101981,1,2021.0,120.0
39033,29990,2013.0,tesla,model s sedan 4d,59613.0,good,clean,NaN,electric,other,rwd,NaN,sedan,blue,redding,ca,5YJSA1CG5DFP16162,1,2021.0,124.0
277234,563,2013.0,tesla,model s base,34162.0,NaN,clean,NaN,electric,automatic,rwd,NaN,sedan,NaN,corvallis/albany,or,5YJSA1CG1DFP03876,1,2021.0,96.0

In [8]:
file_path = "analysis/220705_ev5_model_unique.csv"

df_sample = df_ev_mf5[["manufacturer", "model"]].drop_duplicates(keep="last").sort_values(["manufacturer", "model"])
write_csv_to_s3(section_name, bucket_name, file_path, df_sample)

Put object
Data Shape:  (401, 2)
Completed

## 1. toyota

In [5]:
toyota = df_ev_mf5.manufacturer==mf5[0]

In [7]:
df_ev_mf5[toyota].model.value_counts().sort_index()

avalon                           4
avalon hybrid                   11
avalon hybrid limited           29
avalon hybrid xle                2
avalon hybrid xle plus           8
avalon hybrid xle premium        2
avalon hybrid xle touring        1
avalon hybrid xse sedan          4
avalon limited hybrid            1
avalon xle                       1
avalon xle sedan 4d              1
camry                           41
camry hybrid                    63
camry hybrid base                1
camry hybrid le                  7
camry hybrid le sedan            1
camry hybrid le sedan 4d         7
camry hybrid se                 14
camry hybrid sedan               4
camry hybrid sedan 4d            1
camry hybrid xle                10
camry hybrid xle sedan 4d        6
camry hybrid | gas saver,        1
camry le                         4
camry le sedan 4d               10
corolla                          4
corolla hybrid                   1
electric rav4 prime xse awd      5
highlander                      21
highlander 4x4                   5
highlander hybrid               30
highlander hybrid awd            1
highlander hybrid le            18
highlander hybrid limited       17
highlander hybrid xle            2
highlander limited hybrid        1
highlnader 4x4                   1
mirai                            1
prius                          867
prius (plug in)                  1
prius 2                          3
prius 2 hybrid                   1
prius 3                          2
prius 4dr                        1
prius 5                          1
prius bad credit                 5
prius base                       1
prius base 4dr hatchback         1
prius basehatchback              2
prius c                         79
prius c 4                        1
prius c four hatchback 4d        2
prius c fourhatchback            5
prius c hatchback                1
prius c hybrid                   7
prius c one                      1
prius c three                    2
prius c three hatchback          5
prius c two                      2
prius c4                         1
prius five                       8
prius five five panel            1
prius four                       9
prius four hatchback 4d         10
prius four hybrid                1
prius four panel solar           2
prius four touring               4
prius hatchback                  3
prius hb (natl                   1
prius hybrid                   123
prius hybrid 2011                1
prius hybrid 5                   1
prius hybrid cab                 1
prius hybrid five                2
prius hybrid fwd auto            2
prius hybrid hatchback           1
prius hybrid iv                  1
prius hybrid three               1
prius hybrid touring             3
prius hybrid,honda,mazda         1
prius hybrid131,184              1
prius ii                         6
prius ii hatchback 4d            5
prius ii,                        1
prius iii                        4
prius is                         1
prius iv                        15
prius iv 4                       1
prius iv 4dr hatchback           1
prius one automatic              1
prius one hatchback 4d           3
prius persona series             3
prius plug in                    2
prius plug in hybrid             1
prius plug-in                   10
prius plug-in advanced           1
prius plug-in hybrid            18
prius plus hybrid                1
prius premium                    2
prius prime                     17
prius prime advanced             3
prius prime advantage            1
prius prime limited              2
prius prime plus                 3
prius prime premium              6
prius prime primum               1
prius prius ii                   1
prius six                        1
prius standard                   4
prius three                     16
prius three 4dr hatchbac         2
prius three 4dr hatchback        1
prius three hatchback 4d         5
prius three touring              6
prius touring                   14
prius touring hybrid             2
prius two                       37
prius two 2015                   1
prius two 4dr hatchback          1
prius two automatic              2
prius two fwd hatchback          1
prius two hatchback 4d          29
prius v                         85
prius v 4d hatchback             1
prius v 5                        1
prius v five                     2
prius v five hybrid              1
prius v five wagon 4d            3
prius v four wagon 4d            1
prius v fwd hatchback            1
prius v hatchback                4
prius v hybrid                   4
prius v three                    1
prius v three wagon 4d           6
prius v two                      2
prius v two automatic            1
prius v two hatchback            1
prius v two wagon 4d            23
prius v wagon                    3
prius v wgn three (natl          1
prius v wgn two                  2
prius xle awd hatchback          2
prius xle hatchback 4d           1
pruis two                        2
rav 4 hybrid limited             1
rav 4 prime                      1
rav4                            17
rav4 ev sport utility 4d         8
rav4 hv                          2
rav4 hybrid                     18
rav4 hybrid le sport             6
rav4 hybrid limited              4
rav4 hybrid limited awd          1
rav4 hybrid limited sport        3
rav4 hybrid se                   1
rav4 hybrid se sport             4
rav4 hybrid xle                  4
rav4 hybrid xle awd              1
rav4 hybrid xle sport           17
rav4 hybrid xse                 22
rav4 hybrid xse sport           30
rav4 le awd suv auto             1
rav4 limited                     1
rav4 prime xse                   1
sienna                           1
tundra crewmax sr5 pickup        5
venza xle                        8
Name: model, dtype: int64

### 1.1. avalon

* 승용 
  * avalon - 6b
  * avalon - BK36B
  * avalon - GSX40L
  * avalon - LIMITED (avalon limited)
  * avalon - MCX10L
  * avalon - XL
  * avalon hybrid - AXXH50L

* 공식 사이트 (avalon msrp)
    * xle (36825)
    * xle hybrid (37850)
    * xse hybrid nightshade (41200)
    * touring (43525)
    * limited (43125)
    * limited hybrid (44150)

In [32]:
avalon = df_ev_mf5.model.str.contains("avalon")
df_ev_mf5[toyota & avalon].model.value_counts()

avalon hybrid limited        29
avalon hybrid                11
avalon hybrid xle plus        8
avalon                        4
avalon hybrid xse sedan       4
avalon hybrid xle             2
avalon hybrid xle premium     2
avalon limited hybrid         1
avalon hybrid xle touring     1
avalon xle                    1
avalon xle sedan 4d           1
Name: model, dtype: int64